/*

-------------------------------------------------------------

VARIABLES

*/

// Container Sizes
$container  : 1260px;
$gutter     : 30px;

// Font weights
$thin    : 300;
$book    : 400;
$medium  : 500;
$bold    : 700;

// Fonts
$body-font-family    : "Helvetica";
$primary-font-size   : 18px;
$primary-font-color  : #999999;
$primary-link-color  : #757575;
$primary-line-height : 32px;

// Colors
$white     : #ffffff;
$black     : #000000;

// Easing
$easeOutQuint : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeOutCirc  : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutQuart : cubic-bezier(0.165, 0.84, 0.44, 1.000);