/* 

-------------------------------------------------------------

VARIABLES

*/

// Colors
$black   : #000000;
$white   : #ffffff;

// Font weights
$light 	 : 100;
$regular : 300;
$medium  : 500;
$bold    : 700;

// Primary Font
$primary-font-family : 'Helvetica', sans-serif;
$primary-font-weight : $regular;
$primary-font-size   : 23px;
$primary-font-color  : #757575;
$primary-link-color  : #757575;
$primary-line-height : 36px;

// Transitions
$default-transition-property : all;
$default-transition-duration : 1s;
$default-transition-function : false;
$default-transition-delay    : false;

// Easing
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000); 